:root {
  --alfa-romeo: #C92D4B;
  --alpha-tauri: #5E8FAA;
  --aston-martin: #358C75;
  --alpine: #2293D1;
  --ferrari: #F91536;
  --haas: #B6BABD;
  --mclaren: #F58020;
  --mercedes: #6CD3BF;
  --red-bull: #3671C6;
  --williams: #37BEDD;
  --fastest-lap: #b114c9;
  --pole: #FFD700;
  --sprint: #0a58ca;
  --first-place: #ffda6a;
  --second-place: #ced4da;
  --third-place: #fd7e14;
  --points-place: #75b798;
  --other-positions: #e35d6a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alfaromeo--text {
  color: var(--alfa-romeo);
}

.alfaromeo--background {
  background-color: var(--alfa-romeo);
}

.alphatauri--text {
  color: var(--alpha-tauri);
}

.alphatauri--background {
  background-color: var(--alpha-tauri);
}

.astonmartin--text {
  color: var(--aston-martin);
}

.astonmartin--background {
  background-color: var(--aston-martin);
}

.alpine--text {
  color: var(--alpine);
}

.alpine--background {
  background-color: var(--alpine);
}

.ferrari--text {
  color: var(--ferrari);
}

.ferrari--background {
  background-color: var(--ferrari);
}

.haas--text {
  color: var(--haas);
}

.haas--background {
  background-color: var(--haas);
}

.mclaren--text {
  color: var(--mclaren);
}

.mclaren--background {
  background-color: var(--mclaren);
}

.mercedes--text {
  color: var(--mercedes);
}

.mercedes--background {
  background-color: var(--mercedes);
}

.redbull--text {
  color: var(--red-bull);
}

.redbull--background {
  background-color: var(--red-bull);
}

.williams--text {
  color: var(--williams);
}

.williams--background {
  background-color: var(--williams);
}

.fastest-lap {
  background-color: var(--fastest-lap);
}

.pole--background {
  background-color: var(--pole);
}

.pole--text {
  color: var(--pole);
}

.sprint {
  background-color: var(--sprint);
}

.first-place--text {
  color: var(--first-place);
}

.second-place--text {
  color: var(--second-place);
}

.third-place--text {
  color: var(--third-place);
}

.points-place--text {
  color: var(--points-place);
}

.other-positions--text {
  color: var(--other-positions);
}